<configuration>

<appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
<encoder>
<layout>
<pattern>%d{HH:mm:ss.SSS} %.-1level %logger - %thread - %msg  %X{userId} %n </pattern>
</layout>
</encoder>
 <withFormattedMessage>true</withFormattedMessage>
</appender>


 <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>foo.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
      <outputPatternAsHeader>true</outputPatternAsHeader>
    </encoder>
  </appender>
  
  
<appender name="FileAppender" class = "ch.qos.logback.core.rolling.RollingFileAppender">

<file>
	revshop.log
</file>

<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>revhire-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>10</maxHistory>
			
</rollingPolicy>

<encoder>
<pattern>%d{HH:mm:ss.SSS} %.-1level %logger - %thread - %msg%n</pattern>
<withFormattedMessage>true</withFormattedMessage>
</encoder>
</appender>

<root level="Trace">

<appender-ref ref="ConsoleAppender"></appender-ref>
<appender-ref ref="FileAppender"></appender-ref>

</root>


</configuration>
